/*
 * Basscss Base
 *
 * Remove or comment out unneeded modules and import your own files.
 * Adjust global media queries and variables below.
 *
 */


/* Basscss Modules */
@import 'basscss-base-reset';
@import 'basscss-base-typography';
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';

@import 'basscss-ui-utility-button-sizes';
@import 'basscss-ui-utility-groups';
@import 'basscss-ui-utility-disclosure-states';

@import 'basscss-grid';
@import 'basscss-table-object';

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-color-tables';
@import 'basscss-color-buttons';
@import 'basscss-colors';
@import 'basscss-color-borders';

@import 'basscss-defaults';

/* Example custom file import */
@import './color/borders';


/* Custom media queries */
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);


/* Variables */
:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;

  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;

  /* Grid container max-width */
  --container-width: 64em;

  /* Colors */
  --blue: #0076df;
  --red: #f95020;
  --green: #00cf26;
  --yellow: #efcc00;

  --dark-gray: #333;
  --mid-gray: #777;
  --light-gray: #ccc;
  --lighter-gray: #eee;

  --darken-1: rgba(#000,.0625);
  --darken-2: rgba(#000,.125);
  --darken-3: rgba(#000,.25);
  --darken-4: rgba(#000,.5);

  --border-color: var(--light-gray);
  --border-width: 1px;
  --border-radius: 3px;

  --hover-background-color: var(--darken-1);

}

